.tweets-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.created-tweets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  margin: 5% 0;
  padding: 1rem;
  width: 60vw;
  
}
.created-tweets:hover {
  border-style: outset;
  border-color:  #4056A1;

}

.created-tweets > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.text {
  font-size: 1.5em;
  overflow-wrap: anywhere;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid;
}
.created-tweets > footer > span >.fas {
  color: #4056A1;
}
.created-tweets > footer > span >.fas:hover {
  color: goldenrod;
}
