.tweets-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.created-tweets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  margin: 5% 0;
  padding: 1rem;
  width: 60vw;
  
}
.created-tweets:hover {
  box-shadow: 10px 10px #4056A1;
  border-color:  #4056A1;
}

.created-tweets > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.created-tweets > header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#text {
  font-size: 1.5em;
  overflow-wrap: anywhere;
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid;
}
.created-tweets > footer > span >.fas {
  color: #4056A1;
}
.created-tweets > footer > span >.fas:hover {
  color: goldenrod;
}
.user-id {
  color: #abb7d8;
}