.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: #1fceed;
  color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

#image {
  margin-top: 3em;
}

#name {
  margin-top: 0px;
  margin-bottom: 0px;
}