nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  font-family: "Bungee", sans-serif;
  font-size: 42px;
}

nav div i {
 color:violet;
}

/* Tablet Styles */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    background: none;
  }
}