.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#tweet-below {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;
  border: none;
  background: none;
  border-bottom: solid #2f2302;
  
}

button {
  font-family: 'Bungee';
  color: white;
  background-color: #4056A1;
  display:inline-block;
  margin-top: 5px;
}

.counter {
  font-family: 'Bungee';
}

#error {
  color: red;
  border: solid 5px red;
  height: 100px;
  text-align: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}